*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    background-image: url(fundopet01.png);
    color: #949494;
    background-position: center top ;
    background-color: #abb7dc;
    font-family: sans-serif;
    font-size: 1em;
    color: #384363;
    margin-left: 34%;
    margin-top: 2%;
    justify-content: center top;


}
input  {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 24px;
    padding: 10px 20px;
    font-size: 16pt;
    background-color: rgba(255,255,255, 0.1);
    color: rgb(10, 10, 10);
    border: 1px solid black;
}

input#login {
    width: 440px;
    background-color: rgb(238, 7, 61);
}

input#cadastrar {
    width: 440px;
    background-color: rgba(15, 111, 255, 0.082);
}


div#form-login {
    /*background-color: red;*/
    width: 450px;
    margin: 150px auto;
}

div#form-cad{

}

a {
    color: rgb(14, 13, 13);
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}
.menu{
    text-align: top;
    background: rgba(29, 16, 151, 0.014);
    border-radius: 20px;
    cursor: pointer;

}
#titulo{
    

}


@media only screen and (max-device-width: 900px) {
    .fundo, h1 ,body{
        width:100%;
    }
    
}
